<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GATHER家聚</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/furniturelist/furniturelist.css">
    <link rel="stylesheet" href="../../public/css/furniturelist/furniture992.css" media="screen and (max-width: 992px)">
    <link rel="stylesheet" href="../../public/css/furniturelist/furniture767.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/index/mobleindex.css" media="screen and (max-width: 767px)">
</head>

<body>
    <div class="cart_page">
    </div>
    <div id="bgc">
    </div>
    <!-- nav_list start -->
    <section class="nav_items">
        <li><a href="../../index.html">首頁</a></li>
        <li class="style_toggle"><a href="javascript:;">風格介紹<span class="style_up"></span>
                <ul class="nav_style">
                    <li><a href="../styleclass/classic.html">時尚工業風</a></li>
                    <li><a href="../styleclass/animal.html">木質北歐風</a></li>
                    <li><a href="../styleclass/clean.html">奢華古典風</a></li>
                </ul>
            </a></li>
        <li><a href="../shopping cart/cart.html">購物車</a></li>
        <li><a href="../about/about.html">關於家聚</a></li>
        <li><a href="../login/login.html">登入</a></li>
    </section>
    <!-- nav_list end -->
    <!-- navbar start -->
    <section class="navbar">
        <h1 class="logo">
            <a href="../../index.html">GATHER家聚</a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="../../index.html">首頁<span></span></a></li>
                <li class="stylebtn"><a href="javascript:;">風格介紹<span></span></a>
                    <div class="style_items">
                        <a href="../styleclass/classic.html">時尚工業風</a>
                        <a href="../styleclass/animal.html">典藏動物風格</a>
                        <a href="../styleclass/clean.html">奢華古典風</a>
                    </div>
                </li>

                <li><a href="../about/about.html">關於家聚<span></span></a></li>
                <li><a href="../shopping cart/cart.html">購物車<span></span></a></li>
                <li><a href="../login/login.html">登入<span></span></a></li>
            </ul>
        </div>
        <div class="navicon"></div>
    </section>
    <!-- navbar end -->
    <!-- massage start -->
    <section class="massage">
        <a href="">
            <div class="fb"></div>
        </a>
        <a href="">
            <div class="line"></div>
        </a>
        <a href="">
            <div class="tw"></div>
        </a>
    </section>
    <!-- massage end -->
    <!-- container start -->
    <section class="container">
        <h4 class="title">來去逛逛</h4>
        <p class="content">主打物美價廉，讓設計也能走入您的生活中。</p>
        <div class="goods_wrap">
            <ul>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad47.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
                <li class="goods" style="height: 370px;">
                    <div class="goods_pic"><img src="../../public/upload/ad45.jpg" alt=""></div>
                    <p class="goods_name">床具組</p>
                    <div class="onsale_price">NT$3000/1組</div>
                    <a href="javascript:;" class="buy">加入購物車</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- container -->
    <!-- message m start-->
    <section class="message_m">
        <ul class="message_box">
            <li class="massage_icon"><a href="javascript:;"></a></li>
            <li class="massage_icon"><a href="javascript:;"></a></li>
            <li class="massage_icon"><a href="javascript:;"></a></li>
        </ul>
    </section>
    <!-- message m end -->
    <!-- footer start-->
    <footer class="footer">
        <ul class="row">
            <li><a href="javascript:;">條款聲明</a></li>
            <li><a href="javascript:;">注意事項</a></li>
            <li><a href="javascript:;">聯絡我們</a></li>
        </ul>
        <div class="copyright">
            GATHER家聚股份有限公司 新北市新北市新北市新北市新北市新北市新北市<br>
            電話:(02)2222-2222 | 營業時間:00:00~24:00
            Copyright@
        </div>
    </footer>
    <!-- footer end -->
    <!-- topicon start -->
    <div class="topicon">
        
    </div>
    <!-- topicon end-->
    <script src="../../public/jquery/jquery.min.js"></script>
    <script src="../../public/js/move2.js"></script>
    <script src="../../public/js/message_m_furniture.js"></script>
    <script src="../../public/js/navicon(m).js"></script>
    <script src="../../public/js/style_item.js"></script>
    <script src="../../public/js/style_m.js"></script>
    <script src="../../public/js/topicon_furniture.js"></script>
    <script src="../../public/js/goods_items.js"></script>
</body>

</html>