@import "./common.css";
body {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    background-color: rgba(235, 233, 233, .1);
    height: 3000px;
}
/* banner */
.banner {
    position: relative;
    width: 100%;
    height: 700px;
    padding: 0 50px;
    background: url(../images/700.jpg) no-repeat;
    opacity: .7;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 500px;
}

.content h4 {
    font-size: 36px;
}

.content p {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 70px;
    color: gray;
}

.content div {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    background-color: brown;
    overflow: hidden;
}

.content .buy {
    float: left;
    margin-left: 20px;
}

.content .more {
    float: right;
    margin-right: 20px;
}

.content div a {
    position: relative;
    display: block;
    height: 100%;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

.content div a span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: red;
    z-index: -1;
    transition: all .5s;
}

.content div a:hover span {
    width: 100%;
}

.content div a:hover {
    color: #fff;
}
/* navbar */
.logo {
    width: 100px;
    height: 100%;
    font-size: 34px;
    line-height: 70px;
}
.logo a {
    color: rgb(32, 29, 29);
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: rgba(0,0,0, .3);
}

.nav ul {
    display: flex;
    float: right;
    height: 100%;
    align-items: center;
}

.nav ul li {
    font-size: 20px;
    padding: 0 20px;
}

.nav ul li:last-child {
    padding-right: 0;
}

.nav ul li a {
    position: relative;
    display: block;
    height: 100%;
    color: white;
}

.nav ul li a span {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 10%;
    background-color: #fff;
    transition: all .3s;
}

.nav ul li a:hover span {
    width: 100%;
}
/* container */
.container {
    width: 84%;
    /* background-color: red; */
    margin: 0 auto;  
}
.container .contain-row1,
.container .contain-row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    padding: 2% 30px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 9px 8px 10px -7px rgba(0,0,0, 0.3);
}
.contain-row1 .pic ,
.contain-row2 .pic{
    width: 40%;
    height: 300px;
}
.contain-row1 .pic {
    background: url(../upload/containrow1.jpg) no-repeat center center;
    background-size: cover;
}
.contain-row2 .pic {
    background: url(../upload/content2.jpg) no-repeat center center;
    background-size: cover;
}

.contain-row1 .row1-content,
.contain-row2 .row2-content {
    width: 60%;
    height: 300px;
    padding: 10px 20px ;
}
.contain-row1 .row1-content h4,
.contain-row2 .row2-content h4 {
    font-size: 38px;
}
.contain-row1 .row1-content p,
.contain-row2 .row2-content p {
    margin-top: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
/* bedstyle commonarea*/
.bedstyle {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-top: 50px;
}
.bedstyle div[class^="bedstyle-"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 33.33%;
    height: 100%;
    padding: 0 30px;
    /* background-color: #fff; */
}
.bedstyle div:nth-child(2) {
    margin: 0 2% 0 2%;
}
.bedstyle div[class^="bedstyle-"] h5 {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 20%;
    font-size: 20px;
    line-height: 50%;
} 
.bedstyle div[class^="bedstyle-"] h5 a {
    display: inline-block;
    color: gray;
}
.bedstyle div[class^="bedstyle-"] h5 a:hover {
    color: rgba(0,0,0,.3);
}
.bedstyle div[class^="bedstyle-"] span{
    flex: 80%;
    overflow: hidden;
}
.bedstyle div[class^="bedstyle-"] span a{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .6s linear;
}
.bedstyle div[class^="bedstyle-"] span a:hover {
    transform: scale(1.1);
}
/* bedstyle */
.bedstyle .bedstyle-1 .bedstyle-1-bd a{
    background: url(../upload/style_1.jpg)no-repeat center center;
    background-size: 100% auto;
}
.bedstyle .bedstyle-2 .bedstyle-2-bd a{
    background: url(../upload/style2.jpg)no-repeat center center;
    background-size: cover;
}
.bedstyle .bedstyle-3 .bedstyle-3-bd a{
    background: url(../upload/style3.jpg)no-repeat center center;
    background-size: cover;
}
