<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/procduct/product.css">
    <link rel="stylesheet" href="../public/css/index/mobleindex.css" media="screen and (max-width: 767px)">

</head>

<body>
    <!-- navbar start -->
    <section class="navbar">
        <h1 class="logo">
            <a href="../index.html">床眠</a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="../index.html">首頁<span></span></a></li>
                <li><a href="./procduct.html">床的介紹<span></span></a></li>
                <li><a href="＃">設計理念<span></span></a></li>
                <li><a href="＃">關於我們<span></span></a></li>
                <li><a href="＃">登入<span></span></a></li>
            </ul>
        </div>
        <div class="navicon"></div>
    </section>
    <!-- navbar end -->
    <!-- container star -->
    <section class="container">
        <h4 class="title">Introduce</h4>
        <div class="wrap">
            <p class="content">
                人的一生中有三分之一的時間都在睡夢中度過，想要夜夜好眠，床墊對睡眠品質可是有關鍵性的影響。
                床眠採用獨立筒彈簧以不織布或棉布裝成袋，再以膠黏合或超音波方式密合，即使枕邊人翻身側動，亦不影響另一人的睡眠，同時能夠平均承受身體各處每一落點的壓力，使身體不因懸空而酸痛，即所謂符合人體工學之優點。


            </p>
            <div class="pic">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <!-- container end -->
    <!-- topicon start -->
    <div class="topicon">
        
    </div>
    <!-- topicon end -->
    <!-- footer start-->
    <footer class="footer">
        <ul class="row">
            <li><a href="javascript:;">條款聲明</a></li>
            <li><a href="javascript:;">注意事項</a></li>
            <li><a href="javascript:;">聯絡我們</a></li>
        </ul>
        <div class="copyright">
            床眠股份有限公司 新北市新北市新北市新北市新北市新北市新北市<br>
            電話:(02)2222-2222 | 營業時間:00:00~24:00
            Copyright@
        </div>
    </footer>
    <!-- footer end -->


    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../public/js/move2.js"></script>
    <script src="../public/js/index/index.js"></script>
</body>

</html>