<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GATHER家聚</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/shopping cart/closeoff.css">
    <!--     <link rel="stylesheet" href="../../public/css/index/index.css">
 -->
    <link rel="stylesheet" href="../../public/css/shopping cart/closeoff1200.css"
        media="screen and (max-width: 1200px)">
    <link rel="stylesheet" href="../../public/css/shopping cart/closeoff992.css" media="screen and (max-width: 992px)">
    <link rel="stylesheet" href="../../public/css/shopping cart/closeoff767.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/index/mobleindex.css" media="screen and (max-width: 767px)">

</head>

<body>
    <!-- nav_list start -->
    <section class="nav_items">
        <li><a href="../../index.html">首頁</a></li>
        <li class="style_toggle"><a href="javascript:;">風格介紹<span class="style_up"></span>
                <ul class="nav_style">
                    <li><a href="../styleclass/classic.html">時尚工業風</a></li>
                    <li><a href="../styleclass/animal.html">木質北歐風</a></li>
                    <li><a href="../styleclass/clean.html">奢華古典風</a></li>
                </ul>
            </a></li>
        <li><a href="./cart.html">購物車</a></li>
        <li><a href="../about/about.html">關於家聚</a></li>
        <li><a href="../login/login.html">登入</a></li>
    </section>
    <!-- nav_list end -->
    <!-- navbar start -->
    <section class="navbar">
        <h1 class="logo">
            <a href="../../index.html">GATHER家聚</a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="./index.html">首頁<span></span></a></li>
                <li class="stylebtn"><a href="javascript:;">風格介紹<span></span></a>
                    <div class="style_items">
                        <a href="../styleclass/classic.html">時尚工業風</a>
                        <a href="../styleclass/animal.html">木質北歐風</a>
                        <a href="../styleclass/clean.html">奢華古典風</a>
                    </div>
                </li>

                <li><a href="../about/about.html">關於家聚<span></span></a></li>
                <li><a href="./cart.html">購物車<span></span></a></li>
                <li><a href="../login/login.html">登入<span></span></a></li>
            </ul>
        </div>
        <div class="navicon"></div>
    </section>
    <!-- navbar end -->
    <!-- container start -->
    <section class="container">
        <div class="shopbar">
            <span>購物車</span>
            <span style="color: rgb(230, 116, 116) ;font-weight: 700;">結帳<em class="triangle"></em></span>
            <span>結束</span>
        </div>
        <form action="" method="" id="shopform">
            <div class="username"><label for="uname">姓名</label><input type="text" id="uname"></div>
            <div class="phone"><label for="phone">手機</label><input type="text" class="phoneipt" id="phone"></div>
            <p class="alert_phone"></p>
            <div class="address"><label for="add">地址</label><input type="text" id="add"></div>
            <div class="credit_car"><label for="credit">信用卡</label><input type="text" class="credit_caript" id="credit">
            </div>
            <p class="alert_credit"></p>
            <div class="ps"><label for="Ps">備註</label><br /><textarea name="" id="Ps" cols="30" rows="10"></textarea>
            </div>
            <button class="next"><a href="./pay_success.html">下一步</a></button>
        </form>
    </section>
    <!-- container end -->
    <!-- footer start-->
    <footer class="footer">
        <ul class="row">
            <li><a href="javascript:;">條款聲明</a></li>
            <li><a href="javascript:;">注意事項</a></li>
            <li><a href="javascript:;">聯絡我們</a></li>
        </ul>
        <div class="copyright">
            GATHER家聚股份有限公司 新北市新北市新北市新北市新北市新北市新北市<br>
            電話:(02)2222-2222 | 營業時間:00:00~24:00
            Copyright@
        </div>
    </footer>
    <!-- footer end -->
    <!-- topicon start -->
    <div class="topicon" style="bottom: 50px">
        
    </div>
    <!-- topicon end-->
    <script src="../../public/jquery/jquery.min.js"></script>
    <script src="../../public/js/move2.js"></script>
    <script src="../../public/js/navicon(m).js"></script>
    <script src="../../public/js/style_item.js"></script>
    <script src="../../public/js/style_m.js"></script>
    <script src="../../public/js/topicon_closeoff.js"></script>
    <script src="../../public/js/regular.js"></script>
</body>

</html>