@import "../common.css";
.shopcar {
    margin: 100px 200px;
    padding: 30px;
    background-color: rgb(230, 221, 221);
    overflow: hidden;
    //bar
    .shopbar {
        display: flex;
        justify-content: space-between;
        width: 290px;
        height: 50px;
        padding: 0 15px 0 ;
        border: 2px solid gray;
        border-radius: 25px;
        span {
            position: relative;
            height: 50px;
            text-align: center;
            line-height: 46px;
            .triangle {
                position: absolute;
                top: 14px;
                right: -100%;
                display: inline-block;
                width: 20px;
                height: 20px;
                border-top: 10px solid rgb(230, 221, 221);
                border-right: 10px solid rgb(230, 221, 221);
                border-bottom: 10px solid rgb(230, 221, 221);
                border-left: 10px solid rgb(65, 61, 61);
            }
        }
    }
    //container
    .shop_container {
        margin-top: 50px;
        #shop_form{
            table {
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                thead {
                    border-bottom: 1px solid gray;
                    th{
                        padding-bottom: 15px;
                    }        
                }
                tbody {
                    tr {
                        border-bottom: 1px solid gray;
                        td {
                            height: 125px;
                            &:nth-child(3) {
                                .origin {
                                    position: relative;
                                    color: black;
                                    font-weight: 700;
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left:50%;
                                        transform: translateX(-50%);
                                        height: 2px;
                                        width: 50%;
                                        background-color: red;
                                    }
                                }
                            }
                            .quantity-form {
                                .decrement,
                                .increment {
                                    color :gray;
                                    &:hover {
                                        color: rgb(41, 39, 39);
                                    }
                                }
                                .itxt {
                                    width: 50px;
                                    text-align: center;
                                }
                            }
                            .shop_pic {
                                display: inline-block;
                                width: 100px;
                                height: 100px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .shop_remove {
                                display: inline-block;
                                width: 50px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: rgb(109, 104, 104);
                                line-height: 30px;
                                a {
                                    display: inline-block;
                                    width: 100%;
                                    height: 30px;
                                    color: #fff;
                                    &:hover {
                                        background-color: rgb(41, 39, 39);
                                        border-radius: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //alert_del
            .alert_del {
                display: none;
                position: fixed;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                width: 400px;
                height: 200px;
                padding: 20px;
                border-radius: 25px;
                text-align: center;
                background-color: rgb(235, 229, 229);
                border: 1px solid black;
                z-index: 99999;
                p {
                    margin-top: 50px;
                }
                .not,
                .yes {
                    position: absolute;
                    bottom: 25px;
                }
                .not {
                    left: 80px; 
                    color: black
                }
                .yes {
                    right: 80px;
                    color: green;
                }
            }
            //total
            .total_wrap {
                margin-top: 80px;
                .totalBox {
                    text-align: left;
                    float: right;
                    width: 40%;
                    div {
                        margin-left: 100px;
                        height: 60px;
                        line-height: 60px;
                        border-bottom: 1px solid gray;
                        span {
                            float: right;
                        }
                        &:nth-child(3) {
                            span {
                                color: red;
                                font-weight: 700;
                            }
                        }
                    }
                }    
            }
            //next
            .next {
                float: right;
                width: 100px;
                height: 50px;
                background-color: rgb(109, 104, 104);
                a {
                    display: inline-block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #fff;
                    &:hover {
                        background-color: rgb(41, 39, 39);
                    }
                }
            }
        }
    }
}
// 清除浮動
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin-bottom: 80px;
}

.clearfix {
    *zoom: 1;
}
.bg {
    position: fixed;
    width: 2000px;
    height: 8000px;
    z-index: 999;
    background-color: black;
    opacity: .5;
}
// alert_bgc
