@import "../common.css";
.container {
  margin: 100px 250px;
  padding: 30px;
  background-color: #e6dddd;
  overflow: hidden;
}
.container .inform {
  text-align: center;
  padding: 20px;
}
.container .inform .content {
  text-align: justify;
  text-justify: distribute;
}
.container .inform .home {
  float: right;
  width: 100px;
  height: 50px;
  margin-top: 40px;
  background-color: #6d6868;
}
.container .inform .home a {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.container .inform .home a:hover {
  background-color: #292727;
}
