@import "../common.css";
.cart_page {
  display: none;
  position: fixed;
  top: 100px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  width: 700px;
  height: 350px;
  background-color: #fff;
  box-shadow: 10px 8px 8px -5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: auto;
}
.cart_page .wrap {
  display: flex;
  width: 100%;
  height: 300px;
}
.cart_page .wrap .cart_page_pic {
  flex: 1;
  padding: 20px;
  height: 100%;
}
.cart_page .wrap .cart_page_pic img {
  width: 100%;
  height: 100%;
}
.cart_page .wrap .goods_content {
  flex: 1;
  height: 100%;
  padding: 20px 0 0 30px;
}
.cart_page .wrap .goods_content .goods_name {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  color: black;
}
.cart_page .wrap .goods_content .onsale_price {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}
.cart_page .wrap .goods_content .origin_price {
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: line-through;
}
.cart_page .wrap .goods_content .quantity-form {
  margin-bottom: 20px;
}
.cart_page .wrap .goods_content .quantity-form .itxt {
  width: 50px;
  text-align: center;
  background-color: #fff;
}
.cart_page .wrap .goods_content .quantity-form .decrement,
.cart_page .wrap .goods_content .quantity-form .increment {
  color: gray;
}
.cart_page .wrap .goods_content .goods_infor {
  display: inline-block;
  color: gray;
  margin-bottom: 10px;
}
.cart_page .wrap .goods_content .join_cart {
  width: 70%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: gray;
}
.cart_page .wrap .goods_content .join_cart a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.cart_page .wrap .goods_content .join_cart a:hover {
  background-color: black;
}
.cart_page .wrap .goods_content .goods_infor:hover {
  color: black;
}
.bgc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: gray;
  opacity: 0.5;
}
.container {
  margin: 100px;
  padding: 20px;
  text-align: center;
}
.container .title {
  font-size: 36px;
  color: black;
}
.container .content {
  margin: 15px 0 20px;
  font-size: 20px;
}
.container .goods_wrap ul {
  display: flex;
  flex-wrap: wrap;
}
.container .goods_wrap ul li {
  border: 2px solid rgba(244, 239, 237, 0);
  flex: 32%;
  height: 400px;
  margin-right: 15px;
}
.container .goods_wrap ul li:nth-child(3),
.container .goods_wrap ul li:nth-child(6),
.container .goods_wrap ul li:nth-child(9) {
  margin-right: 0;
}
.container .goods_wrap ul li .goods_pic {
  position: relative;
  padding: 10px;
  height: 250px;
  width: 100%;
}
.container .goods_wrap ul li .goods_pic span {
  position: absolute;
  top: 10px;
  left: 10px;
  border-top: 35px solid #d42f2f;
  border-right: 35px solid rgba(0, 0, 0, 0);
  border-bottom: 35px solid rgba(0, 0, 0, 0);
  border-left: 35px solid #d42f2f;
}
.container .goods_wrap ul li .goods_pic span::before {
  content: 'on sale';
  position: absolute;
  top: -35px;
  left: -32px;
  line-height: 18px;
  color: #fff;
}
.container .goods_wrap ul li .goods_pic img {
  width: 100%;
  height: 100%;
}
.container .goods_wrap ul li .goods_name,
.container .goods_wrap ul li .onsale_price,
.container .goods_wrap ul li .origin_price {
  margin-bottom: 8px;
}
.container .goods_wrap ul li .origin_price {
  text-decoration: line-through;
}
.container .goods_wrap ul li .onsale_price {
  font-weight: 700;
}
.container .goods_wrap ul li .buy {
  display: inline-block;
  height: 40px;
  width: 50%;
  line-height: 40px;
  background-color: gray;
  color: #fff;
}
.container .goods_wrap ul li .buy:hover {
  background-color: black;
}
.container .goods_wrap ul li:hover {
  border: 2px solid #e0e01e;
}
