<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/about/about.css">
    <link rel="stylesheet" href="../../public/css/classic/classic.css">
    <link rel="stylesheet" href="../../public/css/index/mobleindex.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/classic/mobleclassic_1200.css" media="screen and (max-width: 1200px)">
    <link rel="stylesheet" href="../../public/css/classic/mobleclassic_767.css" media="screen and (max-width: 767px)">
</head>

<body>
    <!-- nav_list start -->
    <section class="nav_items">
        <li><a href="javascript:;">首頁</a></li>
        <li class="style_toggle"><a href="javascript:;">風格介紹<span class="style_up"></span>
                <ul class="nav_style">
                    <li><a href="../styleclass/classic.html">經典簡約風格</a></li>
                    <li><a href="../styleclass/animal.html">典藏動物風格</a></li>
                    <li><a href="../styleclass/clean.html">純淨柔和風格</a></li>
                </ul>
            </a></li>
        <li><a href="../shopping cart/cart.html">購物車</a></li>
        <li><a href="./about.html">關於我們</a></li>
        <li><a href="../login/login.html">登入</a></li>
    </section>
    <!-- nav_list end -->
    <!-- navbar start -->
    <section class="navbar">
        <h1 class="logo">
            <a href="../../index.html">傢俱</a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="./index.html">首頁<span></span></a></li>
                <li class="stylebtn"><a href="javascript:;">風格介紹<span></span></a>
                    <div class="style_items">
                        <a href="../styleclass/classic.html">經典簡約風格</a>
                        <a href="../styleclass/animal.html">典藏動物風格</a>
                        <a href="../styleclass/clean.html">純淨柔和風格</a>
                    </div>
                </li>

                <li><a href="./about.html">關於我們<span></span></a></li>
                <li><a href="../shopping cart/cart.html">購物車<span></span></a></li>
                <li><a href="../login/login.html">登入<span></span></a></li>
            </ul>
        </div>
        <div class="navicon"></div>
    </section>
    <!-- navbar end -->
    <!-- container star -->
    <section class="container">
        <h4 class="title">
            <div class="about">關於我們<span class="underline"></span></div>
        </h4>
        <div class="wrap">
            <p class="content">
                家聚 於 1952 年在丹麥誕生，如今已成為一個高檔的零售時尚品牌。我們設計、生產並銷售適合起居室、餐廳、臥室、家庭辦公室和戶外空間的一系列現代丹麥 設計傢俱、裝飾件和照明。我們的
                傢俱店提供現代設計的所有產品類別——從設計師沙發和扶手椅，到實用的組合壁櫃和功能性電視櫃，豐富多樣，不勝枚舉。我們還提供全面的家居或商店 內飾設計服務
                ，説明我們的客戶創造個性化的居所環境。室內設計師融入室內裝飾理念、家居配件等，為您的家居塑造獨特風格。
            </p>
            <div class="stylepic">
                <img src="../../public/upload/content2.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- container end -->
    <!-- topicon start -->
    <div class="topicon">
        
    </div>
    <!-- topicon end -->
    <!-- message m start-->
    <section class="message_m">
        <ul class="message_box">
            <li class="massage_icon"><a href="javascript:;"></a></li>
            <li class="massage_icon"><a href="javascript:;"></a></li>
            <li class="massage_icon"><a href="javascript:;"></a></li>
        </ul>
    </section>
    <!-- message m end-->
    <!-- footer start-->
    <footer class="footer">
        <ul class="row">
            <li><a href="javascript:;">條款聲明</a></li>
            <li><a href="javascript:;">注意事項</a></li>
            <li><a href="javascript:;">聯絡我們</a></li>
        </ul>
        <div class="copyright">
            傢俱股份有限公司 新北市新北市新北市新北市新北市新北市新北市<br>
            電話:(02)2222-2222 | 營業時間:00:00~24:00
            Copyright@
        </div>
    </footer>
    <!-- footer end -->
    <script src="../../public/jquery/jquery.min.js"></script>
    <script src="../../public/js/navicon(m).js"></script>
    <script src="../../public/js/message_m_about.js"></script>
    <script src="../../public/js/style_item.js"></script>
    <script src="../../public/js/style_m.js"></script>
    <script src="../../public/js/topicon.js"></script>
</body>

</html>