@import "../common.css";
body {
    background-color: rgba(244, 239, 237, .73);  
}
.nav_items {
    display: none;
}
/* banner */
.banner {
    position: relative;
    width: 100%;
    height: 700px;
    /* padding: 0 50px; */
    /* background: url(../../upload/ad43.jpg) no-repeat; */
    opacity: .7;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 500px;
}

.content h4 {
    padding: 0 20px;
    font-size: 50px;
    color: #000000;
}

.content p {
    margin: 15px 0 70px 0;
    padding: 0 20px;
    font-size: 30px;
    text-justify: distribute;
    text-align:justify;
    color: #000000;
}

.content .icon_wrap div {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    overflow: hidden;
}

.content .buy {
    float: left;
    margin-left: 20px;
}

.content .icon_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content .more {
    float: right;
    margin-right: 20px;
}

.content div a {
    position: relative;
    display: block;
    height: 100%;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    z-index: 1;
}

.content div a span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(239, 224, 205, .34);
    z-index: -1;
    transition: all .5s;
}

.content div a:hover span {
    width: 100%;
}

/* container */
.container {
    width: 84%;
    margin: 0 auto;
}
.container .contain-row1,
.container .contain-row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    padding: 2% 30px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 9px 8px 10px -7px rgba(0,0,0, .3);
}
.contain-row1 .pic ,
.contain-row2 .pic{
    width: 40%;
    height: 300px;
}
.contain-row1 .pic img,
.contain-row2 .pic img {
    width: 100%;
    height: 100%;
}
.contain-row1 .row1-content,
.contain-row2 .row2-content {
    width: 60%;
    height: 300px;
    padding: 10px 20px ;
    text-justify: distribute;
    text-align:justify;
}
.contain-row1 .row1-content h4,
.contain-row2 .row2-content h4 {
    font-size: 38px;
}
.contain-row1 .row1-content p,
.contain-row2 .row2-content p {
    margin-top: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
/* bedstyle commonarea*/
.bedstyle {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-top: 50px;
}
.bedstyle div[class^="bedstyle-"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 33.33%;
    height: 100%;
    padding: 0 30px;
    /* background-color: #fff; */
}
.bedstyle div:nth-child(2) {
    margin: 0 2% 0 2%;
}
.bedstyle div[class^="bedstyle-"] h5 {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 20%;
    font-size: 20px;
    line-height: 50%;
} 
.bedstyle div[class^="bedstyle-"] h5 a {
    display: inline-block;
    color: gray;
}
.bedstyle div[class^="bedstyle-"] h5 a:hover {
    color: rgba(0,0,0,.3);
}
.bedstyle div[class^="bedstyle-"] span{
    flex: 80%;
    overflow: hidden;
}
.bedstyle div[class^="bedstyle-"] span a{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .6s linear;
}
.bedstyle div[class^="bedstyle-"] span a:hover {
    transform: scale(1.1);
}
/* bedstyle */
.bedstyle .bedstyle-1 .bedstyle-1-bd a{
    background: url(../../upload/ad39.jpg)no-repeat center center;
    background-size: cover;
}
.bedstyle .bedstyle-2 .bedstyle-2-bd a{
    background: url(../../upload/ad40.png)no-repeat center center;
    background-size: cover;
}
.bedstyle .bedstyle-3 .bedstyle-3-bd a{
    background: url(../../upload/ad41.jpg)no-repeat center center;
    background-size: cover;
}
/* share */
.share {
    margin: 50px auto 100px;
    height: 750px; 
}
.share_title {
    font-size: 38px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide .img1 {
    width: 100%;
    height: 750px;
    background: url(../../upload/ad13.jpg) no-repeat center center;
}
.swiper-button-prev,
.swiper-button-next{
    color:gray !important;
}