@import "../common.css";
.navbar .navicon {
  display: block;
  float: right;
  width: 60px;
  height: 60px;
  font-family: 'icomoon';
  font-size: 46px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.navbar .nav {
  display: none;
}
.banner {
  position: relative;
  padding: 0;
  height: 650px;
}
.banner .content {
  position: relative;
  left: 14px;
  top: 100px;
  width: 100%;
}
.banner .content .icon_wrap {
  height: 170px;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
}
.banner .content .icon_wrap .buy {
  margin: 0;
}
.banner .content .icon_wrap .more {
  margin: 0;
}
.massage {
  display: none;
}
.container div .pic {
  display: none;
}
.container div .row1-content,
.container div .row2-content {
  width: 100%;
  height: 100%;
}
.container div .row1-content h4,
.container div .row2-content h4 {
  width: 100%;
  height: 50px;
}
.container div .row1-content p,
.container div .row2-content p {
  width: 100%;
  height: 240px;
  -webkit-line-clamp: 8;
}
.bedstyle {
  display: block;
  height: 1000px;
  margin-top: 30px;
}
.bedstyle div[class^="bedstyle-"] {
  height: 320px;
  margin-bottom: 15px;
}
.share {
  display: none;
}
.footer {
  height: 250px;
  padding: 40px 10px 0;
}
.footer .copyright {
  margin-top: 25px;
}
.topicon {
  right: 5px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 48px;
}
.message_m {
  display: block;
  width: 50%;
  height: 50px;
  margin: 20px auto 0;
}
.message_m ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  line-height: 50px;
}
.message_m ul li {
  display: none;
  font-family: 'icomoon';
  font-size: 35px;
}
.message_m ul li:nth-child(1) a {
  color: #1377ef;
}
.message_m ul li:nth-child(2) a {
  color: #00c327;
}
.message_m ul li:nth-child(3) a {
  color: #15a2ef;
}
