<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/index/mobleindex.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/classic/mobleclassic_1200.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/classic/mobleclassic_767.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/classic/classic.css">

</head>

<body>
    <!-- navbar start -->
    <section class="navbar">
        <h1 class="logo">
            <a href="../../index.html">傢俱</a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="./index.html">首頁<span></span></a></li>
                <li class="stylebtn"><a href="javascript:;">風格介紹<span></span></a>
                    <div class="style_items">
                        <a href="./classic.html">經典簡約風格</a>
                        <a href="./animal.html">典藏動物風格</a>
                        <a href="./clean.html">純淨柔和風格</a>
                    </div>
                </li>

                <li><a href="＃">關於我們<span></span></a></li>
                <li><a href="＃">購物車<span></span></a></li>
                <li><a href="＃">登入<span></span></a></li>
            </ul>
        </div>
        <div class="navicon"></div>
    </section>
    <!-- navbar end -->
    <!-- container star -->
    <section class="container">
        <h4 class="title">典藏動物風格</h4>
        <div class="wrap">
            <p class="content">
                法式風格家具，體現法式浪漫之地，法國裝飾藝術風格最集中體現在家具的設計方面，要特徵在於布局上突出軸線的對稱，恢宏的氣勢，高貴典雅。細節處理上注重雕花、線條，製作工藝精細考究。 <br />
                <br />
                傢俱特點： <br />
                1、常見的各種複雜著裝飾雕刻如花、葉、動物、天使臉龐等。絕大部分的傢俱都覆以閃亮的金箔塗飾。 <br />
                2、在椅背、扶手、椅腿均採用渦紋與雕飾優美的彎腿，其中椅腿以麻花捲腳即獅爪腳最為常見。椅座及椅背分別有坐墊設計，均以華麗的錦緞織成，以增加乘坐時之舒適感。
            </p>
            <div class="stylepic">
                <img src="../../public/upload/animal2.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- container end -->
    <!-- topicon start -->
    <div class="topicon">
        
    </div>
    <!-- topicon end -->
    <!-- footer start-->
    <footer class="footer">
        <ul class="row">
            <li><a href="javascript:;">條款聲明</a></li>
            <li><a href="javascript:;">注意事項</a></li>
            <li><a href="javascript:;">聯絡我們</a></li>
        </ul>
        <div class="copyright">
            傢俱股份有限公司 新北市新北市新北市新北市新北市新北市新北市<br>
            電話:(02)2222-2222 | 營業時間:00:00~24:00
            Copyright@
        </div>
    </footer>
    <!-- footer end -->
    <script src="../../public/jquery/jquery.min.js"></script>
    <script src="../../public/js/move2.js"></script>
    <script src="../../public/js/navicon(m).js"></script>
    <script src="../../public/js/style_item.js"></script>
    <script src="../../public/js/style_m.js"></script>
    <script src="../../public/js/topicon.js"></script>
</body>

</html>