<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/classic/classic.css">
    <link rel="stylesheet" href="../../public/css/index/mobleindex.css" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="../../public/css/classic/mobleclassic_1200.css" media="screen and (max-width: 1200px)">
    <link rel="stylesheet" href="../../public/css/classic/mobleclassic_767.css" media="screen and (max-width: 767px)">

</head>

<body>
    <!-- nav_list start -->
    <section class="nav_items">
        <li><a href="javascript:;">首頁</a></li>
        <li class="style_toggle"><a href="javascript:;">風格介紹<span class="style_up"></span>
                <ul class="nav_style">
                    <li><a href="./classic.html">經典簡約風格</a></li>
                    <li><a href="./animal.html">典藏動物風格</a></li>
                    <li><a href="./clean.html">純淨柔和風格</a></li>
                </ul>
            </a></li>
        <li><a href="../shopping cart/cart.html">購物車</a></li>
        <li><a href="../about/about.html">關於我們</a></li>
        <li><a href="../login/login.html">登入</a></li>
    </section>
    <!-- nav_list end -->
    <!-- navbar start -->
    <section class="navbar">
        <h1 class="logo">
            <a href="../../index.html">傢俱</a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="./index.html">首頁<span></span></a></li>
                <li class="stylebtn"><a href="javascript:;">風格介紹<span></span></a>
                    <div class="style_items">
                        <a href="./classic.html">經典簡約風格</a>
                        <a href="./animal.html">典藏動物風格</a>
                        <a href="./clean.html">純淨柔和風格</a>
                    </div>
                </li>

                <li><a href="../about/about.html">關於我們<span></span></a></li>
                <li><a href="../shopping cart/cart.html">購物車<span></span></a></li>
                <li><a href="../login/login.html">登入<span></span></a></li>
            </ul>
        </div>
        <div class="navicon"></div>
    </section>
    <!-- navbar end -->
    <!-- massage start -->
    <section class="massage">
        <a href="">
            <div class="fb"></div>
        </a>
        <a href="">
            <div class="line"></div>
        </a>
        <a href="">
            <div class="tw"></div>
        </a>
    </section>
    <!-- massage end -->
    <!-- container star -->
    <section class="container clearfix">
        <h4 class="title">純淨柔和風格</h4>
        <div class="wrap">
            <p class="content">
                文藝復興前的西歐，家具藝術經過浩劫與長時期的蕭條後，在9至11世紀又重新興起，並形成獨特的風格—地中海式風格。地中海風格家具以其極具親和力的田園風情及柔和色調和組合搭配上的大氣很快被地中海以外的大區域人群所接受。物產豐饒、長海岸線、建築風格的多樣化、日照強烈形成的風土人文，這些因素使得地中海具有自由奔放、色彩多樣明亮的特點。
                <br />
                <br />
                傢俱特點： <br />
                1、在家具選配上，通過擦漆做舊的處理方式，搭配貝殼、鵝卵石等，表現出自然清新的生活氛圍。<br />
                2、在材質上，一般選用自然的原木、天然的石材等，用來營造浪漫自然。<br />
            </p>
            <div class="stylepic">
                <img src="../../public/upload/ad29.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- container end -->
    <!-- topicon start -->
    <div class="topicon">
        
    </div>
    <!-- topicon end -->
    <!-- message m start-->
    <section class="message_m">
        <ul class="message_box">
            <li class="massage_icon"><a href="javascript:;"></a></li>
            <li class="massage_icon"><a href="javascript:;"></a></li>
            <li class="massage_icon"><a href="javascript:;"></a></li>
        </ul>
    </section>
    <!-- message m end-->
    <!-- footer start-->
    <footer class="footer">
        <ul class="row">
            <li><a href="javascript:;">條款聲明</a></li>
            <li><a href="javascript:;">注意事項</a></li>
            <li><a href="javascript:;">聯絡我們</a></li>
        </ul>
        <div class="copyright">
            傢俱股份有限公司 新北市新北市新北市新北市新北市新北市新北市<br>
            電話:(02)2222-2222 | 營業時間:00:00~24:00
            Copyright@
        </div>
    </footer>

    <!-- footer end -->
    <script src="../../public/jquery/jquery.min.js"></script>
    <script src="../../public/js/navicon(m).js"></script>
    <script src="../../public/js/message_m_classic.js"></script>
    <script src="../../public/js/style_item.js"></script>
    <script src="../../public/js/style_m.js"></script>
    <script src="../../public/js/topicon.js"></script>
</body>

</html>