@import "../common.css";
.container {
  width: 100%;
  height: 800px;
  padding: 150px 200px 0;
  background-color: #fff;
}
.container .title {
  padding-left: 30px;
  font-size: 45px;
  font-family: 'Libre Baskerville', serif;
}
.container .wrap {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: red;
}
.container .content {
  flex: 60%;
  padding: 30px;
  letter-spacing: 2.5px;
  font-size: 18px;
  background-color: pink;
}
.container .pic {
  flex: 40%;
  background-color: purple;
}
